
{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}

        <div class='login-title'>
            <h5>Welcome to Blog App!</h5>
            <h3>Login to your account</h3>
        </div>
        {{ form.as_p }}
        <button type="submit" class='button-link w-full' style='margin-top: 1rem; margin-bottom: 1rem;'>Login</button>
        <div class='w-full' style='text-align: center;'>
            <a
                style='font-size: small; text-align: center; width: 100%;' 
                href="{% url 'register' %}"
            >
                Not yet registered? Create an account.
            </a>
        </div>
    </form>
</div>

{% endblock %}